@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
}

:root {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #0072b1;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: var(--white);
  --accent: var(--blue);
}
body {
  margin: 0;
  height: 100%;
  /*   overflow: hidden; */
}

::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background: var(--background);
  position: fixed;
  z-index: 10;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
  position: fixed;
  z-index: 10;
}

::-webkit-scrollbar-corner {
  background: var(--background);
  position: fixed;
  z-index: 10;
}

.main {
  display: flex;
  flex-direction: column;
}
.navbar {
  position: fixed;
  z-index: 9;
}
