@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.card {
  border: 1px solid black;
  border-radius: 1em !important;
  box-shadow: rgb(0, 0, 0, 0.6) 10px 20px 30px 3px !important;
}
.darkCard {
  background-color: beige;
  border: 1px solid black !important;
  border-radius: 1em !important;
  box-shadow: rgb(245, 245, 220, 0.6) 10px 20px 30px 3px !important;
}
.cardh5 {
  font-size: 1.8em !important;
  font-weight: 600 !important;
  font-family: "Open Sans", sans-serif !important;
}
.cardP {
  font-size: 1.3em !important;
  font-weight: 500 !important;
  font-family: "Open Sans", sans-serif !important;
}
/* @media screen and (max-width: 1250px) {
  .cardContainer {
    position: relative;
    right: 10rem;
  }
}
 */
