.linksContainer {
  position: relative;
  margin: auto 0.5em;
  display: flex;
  gap: 0.5em;
}
.icon {
  border: none;
  background-color: transparent;
  transform: scale(0.8);
}

/* .dark div {
  border-radius: 50%;
  background-color: beige !important;
}
 */
.dark g:last-of-type {
  fill: beige !important;
}

@media screen and (max-width: 1250px) {
  .linksContainer {
    gap: 0.1em;
  }
  .icon {
    border: none;
    background-color: transparent;
    transform: scale(0.8);
  }
}
