@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.aboutContainer {
  padding: clamp(1rem, 4vw, 4rem);
  position: relative;
  top: 7em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  font-family: "Open Sans", sans-serif !important;
}

.intro {
  display: flex;
  grid-gap: 3rem;
  gap: 3rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.intro .p {
  text-align: justify !important;
  font-size: clamp(1.2rem, 2vw, 1.5rem) !important;
  font-weight: 500 !important;
  max-width: clamp(40ch, 40vw, 60ch) !important;
  color: #788097 !important;
  white-space: inherit !important;
}
.intro .darkP {
  text-align: justify !important;
  font-size: clamp(1.2rem, 2vw, 1.5rem) !important;
  font-weight: 500 !important;
  max-width: clamp(40ch, 40vw, 60ch) !important;
  color: rgb(255, 255, 255, 0.8) !important;
  white-space: inherit !important;
}
@media screen and (max-width: 1050px) {
  .aboutContainer {
    flex-direction: column;
    justify-content: center;
    gap: 0.1;
  }
}
